# Web Framework
Flask==2.2.5
Werkzeug==2.2.3
gunicorn==20.1.0
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Bcrypt==1.0.1
flask-sqlalchemy==3.0.5
sqlalchemy==1.4.23

# ML and Data Processing
torch==2.1.0
torchvision==0.16.0
transformers==4.36.2
numpy==1.26.4
Pillow==10.2.0
scikit-learn==1.4.0

# Utilities
python-dotenv==1.0.1
requests==2.31.0
huggingface-hub==0.20.3

# Optional - comment out if not needed
opencv-python==4.9.0.80
geopy==2.3.0
matplotlib==3.8.3
pandas==2.2.0
seaborn==0.13.2
# tensorboard==2.12.0
datasets==2.16.1
accelerate==0.25.0
evaluate==0.4.1
